<div class="bootstrap-iso ng-scope">
    <back-btn title="Back to Projects List" link="listAdminProjects"></back-btn>
    <div class="row">
        <div class="col-md-3">
            <admin-menu menu-items="ctrl.links"></admin-menu>
        </div>
        <div class="col-md-9">
            <div class="admin-body">
                <div class="panel panel-info">
                    <div class="panel-heading pnl-heading">ADD PROJECT INFORMATION</div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">Project Title:</label>
                                    <input class="form-control"
                                           type="text"
                                           ng-model="ctrl.project.title"
                                           ng-required="true">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">Project Code:</label>
                                    <input class="form-control"
                                           type="text"
                                           ng-model="ctrl.project.code"
                                           ng-required="true">
                                </div>                                
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">Global Programme:</label>
                                    <select ng-model="ctrl.project.programme"
                                            ng-options="x.title for x in ctrl.programmes track by x.id"
                                            class="select form-control">
                                        <option value="" class="" selected="selected">-- Choose Global Programme --</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">Country:</label>
                                    <select ng-model="ctrl.project.country"
                                            ng-options="x.title for x in ctrl.countries track by x.id"
                                            class="select form-control">
                                        <option value="" class="" selected="selected">-- Choose Country --</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">ME Report:</label>
                                    <select ng-model="ctrl.project.mereport" class="select form-control">
                                        <option value="" class="">-- Choose to Report --</option>
                                        <option value="Yes">Yes</option>
                                        <option value="No">No</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">ME Person:</label>
                                        <sp-people-picker name="meperson" 
                                                          ng-model="ctrl.project.meperson" 
                                                          max-entries="5" 
                                                          allow-duplicates="false" 
                                                          show-login="false" 
                                                          show-title="true" 
                                                          min-characters="3" 
                                                          min-entries="1" 
                                                          app-web-url="ctrl.hostWebUrl" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer clearfix">
                        <div class="form-group pull-right">
                            <a href="" class="btn btn-success" ng-disabled="!ctrl.project.title || !ctrl.project.code" ng-click="ctrl.AddRecord()">
                                <i class="fa fa-save"></i> Add Record
                            </a>
                            <a href="#listAdminProjects" class="btn btn-warning ">
                                <i class="fa fa-cut"></i> Cancel
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>