<div class="bootstrap-iso ng-scope">
    <back-btn title="Back to Reach Data List" link="listReachData"></back-btn>
    <div class="row">
        <div class="col-md-3">
            <admin-menu menu-items="ctrl.links"></admin-menu>
        </div>
        <div class="col-md-9">
            <div class="admin-body">
                <add-btn link="addAdminProjects" title="Add Project"></add-btn>
                <div class="row">
                    <div class="col-md-12">
                        <table class="table table-bordered table-condensed table-striped table-hover">
                            <tbody>
                                <tr>
                                    <th>Project Name</th>
                                    <th>Project Code</th>
                                    <th>Programme</th>
                                    <th>Country</th>
                                    <th>ME Report?</th>
                                    <th>ME Person/s</th>
                                    <th style="min-width: 120px"></th>
                                </tr>
                                <tr dir-paginate="project in ctrl.projects | orderBy: 'title' | itemsPerPage: 10">
                                    <td><span>{{project.title}}</span></td>
                                    <td><span>{{project.code}}</span></td>
                                    <td><span>{{project.programme.title}}</span></td>
                                    <td><span>{{project.country.title}}</span></td>
                                    <td><span>{{project.mereport}}</span></td>
                                    <td>
                                        <div ng-repeat="person in project.meperson">
                                            <span>{{person.title}}</span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="dropdown">
                                            <button class="btn btn-xs btn-warning dropdown-toggle" type="button" data-toggle="dropdown">
                                                Action
                                                <span class="caret"></span>
                                            </button>
                                            <ul class="dropdown-menu">
                                                <li>
                                                    <a href="#listAdminProjects" ng-click="ctrl.DeleteRecord(project.id)">Delete</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-sm-12">
                        <dir-pagination-controls boundary-links="true" template-url="common/directives/pagination/dirPagination.tpl.html">
                        </dir-pagination-controls>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>