<div class="bootstrap-iso ng-scope" id="planReachData">
    <div class="well well-sm">
        <div class="row">
            <div class="col-md-12">
                <div class="pull-left">
                    <a href="#listReachData" class="btn btn-sm btn-success">
                        <i class="fa fa-angle-double-left"></i>
                        Back to List
                    </a>
                </div>
            </div>
        </div>
    </div>

    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#background" target="_self">Background Information</a></li>
        <li><a data-toggle="tab" href="#reach" target="_self">Total & New Reach Data (Actuals)</a></li>
        <li><a data-toggle="tab" href="#support" target="_self">Supporting Documents</a></li>
        <li><a data-toggle="tab" href="#comms" target="_self">Communications</a></li>
    </ul>

    <div class="tab-content">
        <div id="background" class="tab-pane fade in active">
            <div class="panel panel-info">
                <div class="panel-heading pnl-heading">ADD BACKGROUND INFORMATION</div>
                <div class="panel-body">
                    <div class="well">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label">Financial Year:</label>
                                            <select ng-model="ctrl.reachdata.year"
                                                    ng-options="x.title for x in ctrl.years track by x.id"
                                                    class="select form-control"
                                                    ng-change="ctrl.SelectQuarter()">
                                                <option value="" class="" selected="selected">-- Select Financial Year --</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label">Quarter:</label>
                                            <select ng-model="ctrl.reachdata.quarter"
                                                    ng-options="x.title for x in ctrl.quarters track by x.id"
                                                    class="select form-control">
                                                <option value="" class="" selected="selected">-- Select Quarter --</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label">Country:</label>
                                            <select ng-model="ctrl.reachdata.country"
                                                    ng-options="x.title for x in ctrl.countries track by x.id"
                                                    class="select form-control">
                                                <option value="" class="" selected="selected">-- Select Country --</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label">Grant Code:</label>
                                            <select ng-model="ctrl.reachdata.grant"
                                                    ng-options="x.title for x in ctrl.grants track by x.id"
                                                    class="select form-control">
                                                <option value="" class="" selected="selected">-- Select Grant Code --</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label class="control-label">Global Programmes & OR Initiatives:</label>
                                            <select ng-model="ctrl.reachdata.programme"
                                                    ng-options="x.title for x in ctrl.programmes track by x.id"
                                                    class="select form-control">
                                                <option value="" class="" selected="selected">-- Select Practice Areas --</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="control-label">Project Code:</label>
                                            <select ng-model="ctrl.reachdata.project"
                                                    ng-options="x.code for x in ctrl.projects track by x.id"
                                                    class="select form-control"
                                                    ng-change="ctrl.getPlannedData()" ">
                                                <option value="" class="" selected="selected">-- Project Code --</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="form-group">
                                            <label class="control-label">Project Name:</label>
                                            <input class="form-control"
                                                   type="text"
                                                   name="title"
                                                   ng-model="ctrl.reachdata.project.title"
                                                   readonly>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label class="control-label"> 1. What are the specific group(s) of people including poor and marginalised people and communities, is this project or grant targeting? </label>
                                            <textarea class="form-control"
                                                      rows="4"
                                                      ng-model="ctrl.reachdata.specificgroups"
                                                      placeholder="Give as much information as you can. E.g. girls in schools that will be supported by VSO, teachers or health professionals that will receive training, farmers in a specific community who will be connected to local markets, children with disabilities, young mothers, unemployed youth, new born and young children below 5 years, etc. Provide list of primary actors here.">
                                        </textarea>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label class="control-label"> 2. What specific services/products/support is the project/grant helping target groups to access or benefit from? </label>
                                            <textarea class="form-control"
                                                      rows="4"
                                                      ng-model="ctrl.reachdata.specificservices"
                                                      placeholder="Or How are primary actor categories reached and with what services/support/products?  Please explain in the space below.">
                                        </textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label class="control-label">3. Which primary actor categories is the project/grant targeting but have not yet reached?</label>
                                            <textarea class="form-control"
                                                      rows="4"
                                                      ng-model="ctrl.reachdata.primaryactor"
                                                      placeholder="Please explain in this space.">
                                        </textarea>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label class="control-label"> 4. Any plans for how to reach these categories of primary actors in the coming quarter? </label>
                                            <textarea class="form-control"
                                                      rows="4"
                                                      ng-model="ctrl.reachdata.plans"
                                                      placeholder="Source of this data should be detailed implementation plans or work plans. Please Insert targets from work.">
                                        </textarea>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label class="control-label">
                                                5. For those with disability from the above categories of primary actors, how many have identified through the use of WGQs?
                                            </label>
                                            <textarea class="form-control"
                                                      rows="4"
                                                      ng-model="ctrl.reachdata.disability"
                                                      placeholder="Or How are primary actor categories reached and with what services/support/products?  Please explain in this space.">
                                        </textarea>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label class="control-label">
                                                6. For those with disability from the categories of primary actors, how many have been impacted through the project/grant interventions and with what services/products/support?
                                            </label>
                                            <textarea class="form-control"
                                                      rows="5"
                                                      ng-model="ctrl.reachdata.disabilityimpacted"
                                                      placeholder="Or How are primary actor categories reached and with what services/support/products? Please explain in this space.">
                                        </textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <div class="row">
                        <div class="col-md-12">
                            <button data-toggle="tab" class="btn btn-info pull-right btnNext" ng-click="ctrl.scrollToTop()">Next to Reach Data Actuals >>></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="reach" class="tab-pane fade">
            <div class="panel panel-info">
                <div class="panel-heading pnl-heading">ADD REACH DATA (ACTUALS)</div>
                <div class="panel-body">
                    <div class="well">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label class="control-label">
                                                Please in the tables below enter the  TOTAL and NEW number of people who were reached through this project/grant in the Current financial year.:
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6" ng-if="ctrl.tablesDataTRPlan.length > 0">
                                        <div class="form-group table-quarter">
                                            <label class="control-label">TOTAL REACH PLAN FOR {{ctrl.reachdata.quarter.title | uppercase}} YEAR: {{ctrl.reachdata.year.title}}</label>
                                            <table class="table table-bordered table-condensed table-striped table-hover" style="margin-bottom:0px !important;">
                                                <tbody>
                                                    <tr tbl-header-cols></tr>
                                                    <tr tbl-header></tr>
                                                    <tr ng-repeat="data in ctrl.tablesDataTRPlan">
                                                        <td>{{data.age}}</td>
                                                        <td><input type="number" class="form-control" readonly ng-model="data.female" /></td>
                                                        <td><input type="number" class="form-control" readonly ng-model="data.male" /></td>
                                                        <td><input type="number" class="form-control" readonly ng-model="data.other" /></td>
                                                        <td><input type="number" class="form-control" readonly ng-model="data.total" /></td>
                                                        <td><input type="number" class="form-control" readonly ng-model="data.pwdfemale" /></td>
                                                        <td><input type="number" class="form-control" readonly ng-model="data.pwdmale" /></td>
                                                        <td><input type="number" class="form-control" readonly ng-model="data.pwdother" /></td>
                                                        <td><input type="number" class="form-control" readonly ng-model="data.pwdtotal" /></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="col-md-6" ng-if="ctrl.tablesDataNRPlan.length > 0">
                                        <div class="form-group table-quarter">
                                            <label class="control-label">NEW REACH PLAN FOR {{ctrl.reachdata.quarter.title | uppercase}} YEAR: {{ctrl.reachdata.year.title}}</label>
                                            <table class="table table-bordered table-condensed table-striped table-hover" style="margin-bottom:0px !important;">
                                                <tbody>
                                                    <tr tbl-header-cols></tr>
                                                    <tr tbl-header></tr>
                                                    <tr ng-repeat="data in ctrl.tablesDataNRPlan">
                                                        <td>{{data.age}}</td>
                                                        <td><input type="number" class="form-control" readonly ng-model="data.female" /></td>
                                                        <td><input type="number" class="form-control" readonly ng-model="data.male" /></td>
                                                        <td><input type="number" class="form-control" readonly ng-model="data.other" /></td>
                                                        <td><input type="number" class="form-control" readonly ng-model="data.total" /></td>
                                                        <td><input type="number" class="form-control" readonly ng-model="data.pwdfemale" /></td>
                                                        <td><input type="number" class="form-control" readonly ng-model="data.pwdmale" /></td>
                                                        <td><input type="number" class="form-control" readonly ng-model="data.pwdother" /></td>
                                                        <td><input type="number" class="form-control" readonly ng-model="data.pwdtotal" /></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group table-quarter">
                                            <label class="control-label">TOTAL REACH ACTUALS FOR {{ctrl.reachdata.quarter.title | uppercase}} YEAR: {{ctrl.reachdata.year.title}}</label>
                                            <table class="table table-bordered table-condensed table-striped table-hover" style="margin-bottom:0px !important;">
                                                <tbody>
                                                    <tr tbl-header-cols></tr>
                                                    <tr tbl-header></tr>
                                                    <tr ng-repeat="data in ctrl.reachdata.tablesDataTR">
                                                        <td>{{data.age}}</td>
                                                        <td><input type="number" class="form-control" min="0" onkeypress="return event.charCode >= 48" ng-model="data.female" ng-change="ctrl.calculateTotal(data)" /></td>
                                                        <td><input type="number" class="form-control" min="0" onkeypress="return event.charCode >= 48" ng-model="data.male" ng-change="ctrl.calculateTotal(data)" /></td>
                                                        <td><input type="number" class="form-control" min="0" onkeypress="return event.charCode >= 48" ng-model="data.other" ng-change="ctrl.calculateTotal(data)" /></td>
                                                        <td><input type="number" class="form-control" min="0" onkeypress="return event.charCode >= 48" ng-model="data.total" readonly /></td>
                                                        <td><input type="number" class="form-control" min="0" onkeypress="return event.charCode >= 48" ng-model="data.pwdfemale" ng-change="ctrl.calculateTotal(data)" /></td>
                                                        <td><input type="number" class="form-control" min="0" onkeypress="return event.charCode >= 48" ng-model="data.pwdmale" ng-change="ctrl.calculateTotal(data)" /></td>
                                                        <td><input type="number" class="form-control" min="0" onkeypress="return event.charCode >= 48" ng-model="data.pwdother" ng-change="ctrl.calculateTotal(data)" /></td>
                                                        <td><input type="number" class="form-control" min="0" onkeypress="return event.charCode >= 48" ng-model="data.pwdtotal" readonly /></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group table-quarter">
                                            <label class="control-label">NEW REACH ACTUALS FOR {{ctrl.reachdata.quarter.title | uppercase}} YEAR: {{ctrl.reachdata.year.title}}</label>
                                            <table class="table table-bordered table-condensed table-striped table-hover" style="margin-bottom:0px !important;">
                                                <tbody>
                                                    <tr tbl-header-cols></tr>
                                                    <tr tbl-header></tr>
                                                    <tr ng-repeat="data in ctrl.reachdata.tablesDataNR">
                                                        <td>{{data.age}}</td>
                                                        <td><input type="number" class="form-control" min="0" onkeypress="return event.charCode >= 48" ng-model="data.female" ng-change="ctrl.calculateTotal(data)" /></td>
                                                        <td><input type="number" class="form-control" min="0" onkeypress="return event.charCode >= 48" ng-model="data.male" ng-change="ctrl.calculateTotal(data)" /></td>
                                                        <td><input type="number" class="form-control" min="0" onkeypress="return event.charCode >= 48" ng-model="data.other" ng-change="ctrl.calculateTotal(data)" /></td>
                                                        <td><input type="number" class="form-control" min="0" onkeypress="return event.charCode >= 48" ng-model="data.total" readonly /></td>
                                                        <td><input type="number" class="form-control" min="0" onkeypress="return event.charCode >= 48" ng-model="data.pwdfemale" ng-change="ctrl.calculateTotal(data)" /></td>
                                                        <td><input type="number" class="form-control" min="0" onkeypress="return event.charCode >= 48" ng-model="data.pwdmale" ng-change="ctrl.calculateTotal(data)" /></td>
                                                        <td><input type="number" class="form-control" min="0" onkeypress="return event.charCode >= 48" ng-model="data.pwdother" ng-change="ctrl.calculateTotal(data)" /></td>
                                                        <td><input type="number" class="form-control" min="0" onkeypress="return event.charCode >= 48" ng-model="data.pwdtotal" readonly /></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-7">
                                        <div class="form-group">
                                            <label class="control-label">Note:</label>
                                            <p>Please provide quarterly breakdown of people expected to be reached in the financial year.</p>
                                            <p>Please enter actual data for Current Quarter and forecast data for all other quarters.</p>
                                            <p>For each quarter, please provide total number of people reached to that point in the year (e.g. for Quarter 2, this will be total number of people reached from April to September, inclusive of Quarter 1).</p>
                                            <p>For quarters already completed, please input actual data.</p>
                                            <p>For quarters still to come, please enter forecast data.</p>
                                            <p>Please provide as much disaggregation as possible on people's age, gender and disability status.</p>
                                            <p>Use appropriate age groups as guided in the tables.</p>
                                        </div>
                                    </div>
                                    <div class="col-md-5">
                                        <div class="form-group">
                                            <label class="control-label">Please provide as much detail as possible on who is included within 'other' in the current quarter.</label>
                                            <textarea class="form-control"
                                                      rows="7"
                                                      ng-model="ctrl.reachdata.othersdetails"
                                                      placeholder="It is mandatory to fill this section with explanations for any variances across quarters, PAs and demographics (age, sex, PWD). ">
                                            </textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <div class="row">
                        <div class="col-md-12">
                            <button data-toggle="tab" class="btn btn-info btnPrevious" ng-click="ctrl.scrollToTop()"><<< Background Information</button>
                            <button data-toggle="tab" class="btn btn-info pull-right btnNext" ng-click="ctrl.scrollToTop()">Next to Supporting Documents >>></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="support" class="tab-pane fade">
            <div class="panel panel-info">
                <div class="panel-heading pnl-heading">PROVIDE DATA SUPPORT DOCUMENTS</div>
                <div class="panel-body">
                    <div class="well">
                        <div class="row">
                            <div class="col-md-9">
                                <div class="form-group">
                                    <label class="control-label">Type of Document:</label>
                                    <select ng-model="ctrl.document.type"
                                            ng-options="x.title for x in ctrl.doctypes track by x.id"
                                            class="select form-control">
                                        <option value="" class="" selected="selected">-- Select Document Type --</option>
                                    </select>
                                </div>

                                <div class="form-group">
                                    <label class="control-label">A brief discussion about the document</label>
                                    <textarea class="form-control"
                                              rows="4"
                                              ng-model="ctrl.document.details"
                                              placeholder="A brief discussion about the document">
                                        </textarea>
                                </div>

                                <div class="form-group">
                                    <label class="control-label">Attachment</label>
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-paperclip"></i></span>
                                        <input type="file" placeholder="Attachment" class="form-control input-md file" ng-file-model="ctrl.document.attachment">
                                    </div>
                                    <span class="help-block">
                                        Not Mandatory. The attachment should contain a list of data variables
                                        being submitted. (Only Word, pdf and excel documents accepted)
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-9">
                                <a href="" class="btn btn-success pull-right" ng-click="ctrl.uploadDocument()">
                                    <i class="fa fa-save"></i> Upload Document
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <table class="table table-bordered table-condensed table-striped table-hover">
                                <tbody>
                                    <tr>
                                        <th style="min-width:150px;">Document Url</th>
                                        <th style="min-width:150px;">Document Type</th>
                                        <th style="min-width:200px;">Document Description</th>
                                        <th style="min-width:100px;">Upload Date</th>
                                        <th style="min-width:150px;">Upload By</th>
                                        <th style="width:110px">Action</th>
                                    </tr>

                                    <tr ng-repeat="doc in ctrl.supportingDocs | orderBy: '-uploaddate'">
                                        <td><a href="{{doc.link.href}}?&web=1" target="_blank">{{doc.link.title}}</a></td>
                                        <td><span>{{doc.type.title}}</span></td>
                                        <td><span>{{doc.details}}</span></td>
                                        <td><span>{{doc.uploaddate | date: 'dd/MM/yyyy HH:mm:ss' : 'europe/london'}}</span></td>
                                        <td><span>{{doc.uploadby.title}}</span></td>
                                        <td><a href="" class="btn btn-sm btn-danger" ng-click="ctrl.RemoveDocument(doc.id)">Delete</a></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-9">
                            <a href="" class="btn btn-success pull-right" ng-click="ctrl.submitReachDataActuals()">
                                <i class="fa fa-save"></i> Submit Reach Data Actuals
                            </a>
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <div class="row">
                        <div class="col-md-12">
                            <button data-toggle="tab" class="btn btn-info btnPrevious" ng-click="ctrl.scrollToTop()"><<< Back to Reach Data Actuals</button>
                            <button data-toggle="tab" class="btn btn-info pull-right btnNext" ng-click="ctrl.scrollToTop()">Next to Communications >>></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="comms" class="tab-pane fade">
            <div class="well">
                <div class="row">
                    <div class="col-md-8">
                        <div class="panel panel-primary">
                            <div class="panel-heading" id="accordion">
                                <span class="glyphicon glyphicon-comment"></span> Reach Data Conversations for {{ctrl.reachdata.project.title}} {{ctrl.reachdata.quarter.title}} Year {{ctrl.reachdata.year.title}}
                            </div>

                            <div class="panel-body">
                                <ul class="chat">
                                    <li class="left clearfix" ng-repeat="comment in ctrl.comments">
                                        <span class="chat-img pull-left"><img src="images/adminImage.png" alt="Admin Avatar" class="img-circle" ng-if="comment.usertype=='Admin'" /></span>
                                        <span class="chat-img pull-right"><img src="images/userImage.png" alt="User Avatar" class="img-circle" ng-if="comment.usertype=='User'" /></span>

                                        <div class="chat-body clearfix">
                                            <div class="header" ng-if="comment.usertype=='Admin'">
                                                <small class=" text-muted">
                                                    <span class="glyphicon glyphicon-time"></span>{{comment.commentdate | date: 'dd/MM/yyyy HH:mm:ss' : 'europe/london'}}
                                                </small>
                                                <strong class="pull-right primary-font">{{comment.commentby.title}}</strong>
                                            </div>
                                            <div class="header" ng-if="comment.usertype=='User'">
                                                <strong class="primary-font">{{comment.commentby.title}}</strong>
                                                <small class="pull-right text-muted">
                                                    <span class="glyphicon glyphicon-time"></span>{{comment.commentdate | date: 'dd/MM/yyyy HH:mm:ss' : 'europe/london'}}
                                                </small>
                                            </div>
                                            <p>{{comment.comment}}</p>
                                            <a href="" class="btn btn-xs btn-danger pull-right" ng-click="ctrl.deleteComment(comment.id)" ng-if="comment.usertype=='Admin' && comment.commentby.id == ctrl.userid">Delete</a>
                                            <a href="" class="btn btn-xs btn-danger pull-left" ng-click="ctrl.deleteComment(comment.id)" ng-if="comment.usertype=='User' && comment.commentby.id == ctrl.userid">Delete</a>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="panel-footer">
                                <div class="input-group">
                                    <input id="btn-input" type="text" class="form-control input-sm" placeholder="Type your message here..." ng-model="ctrl.comment" />
                                    <span class="input-group-btn">
                                        <a href="" class="btn btn-warning btn-sm" ng-click="ctrl.addComment()">
                                            Send Comment
                                        </a>
                                    </span>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $('.btnNext').click(function () {
            $('.nav-tabs > .active').next('li').find('a').trigger('click');
        });

        $('.btnPrevious').click(function () {
            $('.nav-tabs > .active').prev('li').find('a').trigger('click');
        });
    });
</script>