<div class="bootstrap-iso ng-scope">
    <back-btn title="Back to Years List" link="listAdminFinancialYears"></back-btn>
    <div class="row">
        <div class="col-md-3">
            <admin-menu></admin-menu>
        </div>

        <div class="col-md-9">
            <div class="admin-body">
                <div class="panel panel-info">
                    <div class="panel-heading pnl-heading">ADD FINANCIAL YEARS INFORMATION</div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="control-label">Financial Year:</label>
                                    <input class="form-control"
                                           type="text"
                                           ng-model="ctrl.years.title"
                                           ng-required="true">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="pull-right">
                                    <a ng-href="#listAdminFinancialYears"
                                       ng-click="ctrl.AddRecord()"
                                       class="btn btn-success"
                                       ng-disabled="!ctrl.years.title">
                                        <i class="fa fa-save"></i> Add Record
                                    </a>
                                    <a ng-href="#listAdminFinancialYears" class="btn btn-warning">
                                        <i class="fa fa-cut"></i> Cancel
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>